<section class="review">
   <div class="review_body">
      <h2 class="review_heading"><p>What People Say About Us</p></h2>
      <swiper-container [slidesPerView]="1" [loop]="true" [navigation]="{clickable: true}"  [lazy]="true" autoplay="true">
         <swiper-slide class="review_info">
               <div class="review_image">
                  <img src="../assets/review.png" alt="adam image">
               </div>
               <p class="review_text text">It is long established fact that reader will distract by the readable content a page when looking atten layout. The point of using  and that it has a normal distribution of letters</p>
               <div class="review_author">Adam Samson<p>Senior Volunteer</p></div>
         </swiper-slide>
         <swiper-slide class="review_info">
               <div class="review_image">
                  <img src="../assets/review.png" alt="adam image">
               </div>
               <p class="review_text text">It is long established fact that reader will distract by the readable content a page when looking atten layout. The point of using  and that it has a normal distribution of letters</p>
               <div class="review_author">Bob Odenkirk<p>Senior Volunteer</p></div>
         </swiper-slide>
         <swiper-slide class="review_info">
               <div class="review_image">
                  <img src="../assets/review.png" alt="adam image">
               </div>
               <p class="review_text text">It is long established fact that reader will distract by the readable content a page when looking atten layout. The point of using  and that it has a normal distribution of letters</p>
               <div class="review_author">Andrew Pinkman<p>Senior Volunteer</p></div>
         </swiper-slide>
      </swiper-container>
   </div>
</section>