<roadmap [title]="title" [way]="way"></roadmap>
<section class="about">
   <div class="container">
      <h2 class="about_heading">Givest is The Non Profitable Organization</h2>
      <div class="about_body">
         <div class="about_image">
            <img src="../../assets/About-about.png" alt="about picture">
         </div>
         <div class="about_right">
            <h3 class="about_subheading">Lorem Ipsum simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dumm text ever since the unknown</h3>
            <article class="about_text text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown. Lorem Ipsum is simply dummy text of the printing and typesetting industry orem Ipsum has been the industry's standard dummy text ever since the 1500s, when and unknown printer took a galley of type and scrambled it to make a type specimen book.</article>
            <div class="about_cards">
               <div class="about_card card-about pink-card">
                  <h6 class="card-about_heading">Our Mission</h6>
                  <p class="card-about_text text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
               </div>
               <div class="about_card card-about orange-card">
                  <h6 class="card-about_heading">Our Vission</h6>
                  <p class="card-about_text text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="volunteer">
   <div class="container">
      <h3 class="volunteers_heading">Meet Our Volunteer</h3>
      <swiper-container [slidesPerView]="1" [loop]="true" [pagination]="{clickable: true}"  [lazy]="true" autoplay="true">
         <swiper-slide class="volunteer_images">
            <div class="volunteer_image">
               <img src="../../assets/volun1.png" alt="volunteer1">
            </div>
            <div class="volunteer_image">
               <img src="../../assets/volun2.png" alt="volunteer2">
            </div>
            <div class="volunteer_image">
               <img src="../../assets/volun3.png" alt="volunteer3">
            </div>
         </swiper-slide>
         <swiper-slide class="volunteer_images">
            <div class="volunteer_image">
               <img src="../../assets/volun1.png" alt="volunteer1">
            </div>
            <div class="volunteer_image">
               <img src="../../assets/volun2.png" alt="volunteer2">
            </div>
            <div class="volunteer_image">
               <img src="../../assets/volun3.png" alt="volunteer3">
            </div>
         </swiper-slide>
         <swiper-slide class="volunteer_images">
            <div class="volunteer_image">
               <img src="../../assets/volun1.png" alt="volunteer1">
            </div>
            <div class="volunteer_image">
               <img src="../../assets/volun2.png" alt="volunteer2">
            </div>
            <div class="volunteer_image">
               <img src="../../assets/volun3.png" alt="volunteer3">
            </div>
         </swiper-slide>
      </swiper-container>
   </div>
</section>
<div class="container">
   <stats></stats>
</div>
<review></review>