@import url('../../app/app.component.css');
@import url(../../heading.css);

.nav {
   background-color: #d2720b;
   padding: 25px 15px;
   border-radius: 10px;
}

.nav_heading {
   margin-bottom: 40px;
   color: #fff;
   position: relative;
}

.nav_heading::after {
   position: absolute;
   content: "";
   width: 100%;
   left: 0;
   bottom: -20px;
   height: 2px;
   background-color: #fff;
}

.nav_list {
}

.nav_item {
}

.nav_item:not(:last-child) {
   margin-bottom: 10px;
}

.nav-link {
   color: #fff;
   transition: all 0.4s ease 0s;
   position: relative;
   display: inline;
   cursor: pointer;
}

.nav-link:hover {
   padding-left: 25px;
   font-weight: 600;
}

.nav-link:hover::before {
   position: absolute;
   content: "\27A1";
   left: 0;
}

.active {
   font-weight: 600;
   padding-left: 25px;
   position: relative;
}

.active::before {
   position: absolute;
   content: "\27A1";
   left: 0;
}

.d-none {
   display: none;
}